/* GENERAL */
.mb_0{
    margin-bottom: 0;
}

.pl_10 {
    padding-left: 10px;
}

.ptb_60 {
    padding: 60px 0;
}

.b_left {
    border-left: 1px solid grey;
}

/* HEADER */
/* nav */

/* jumbo */
.ms_bg_jumbo {
    background-image: url('../img/bg-home-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* MAIN */
/* 1 Section */
.bg_grey {
    background-color: #f3f5f9;
}

/* 5 Section */
.ms_bg_world {
    background: #031b4e url(https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 7 Section */
.bg_blue {
    background-color: #002da7;
}

/* DEBUG */
.debug .row {
    height: 100px;
    background-color: blue;
}


.debug [class*="col-"] {
    height: 100%;
    background-color: yellow;
    border: 1px solid red;
}

.height_0 {
    height: 0;
}

.height_300 {
    height: 300px;
    background-color: green;
}