/* GENERAL */
h1 {
    font-weight: bolder;
}

h2, h4 {
    color: #031c4e;
    font-weight: bolder;
}

h5{
    font-size: 15px;
}

.ms_pgreat{
    font-size: 19px;
}

.mb_0{
    margin-bottom: 0;
}

.mt_80 {
    margin-top: 80px;
}

.p_0 {
    padding: 0;
}

.p_15 {
    padding: 15px;
}

.pl_5 {
    padding-left: 5px;
}

.pt_20 {
    padding-top: 20px;
}

.pb_60 {
    padding-bottom: 60px;
}

.pb_5 {
    padding-bottom: 5px;
}

.pb_30 {
    padding-bottom: 30px;
}

.prl_10 {
    padding: 0 10px;;
}

.ptb_5 {
    padding: 5px;
}

.ptb_30 {
    padding: 30px 0;
}

.ptb_60 {
    padding: 60px 0;
}

.b_left {
    border-left: 2px solid #75809a;
}

.bb_white {
    border-bottom: 1px solid white;
}

.bg_grey {
    background-color: #f3f5f9;
}

.bg_white {
    background-color: white;
}

.color_lightgray {
    color: #bbcdff;
}

.color_white {
    color: white;
}

.color_grey {
    color: #6f7b97;
}

.color_darkgrey {
    color: #5c6a88;
}

.color_blue {
    color: #031c4e;
}

.color_lightblue {
    color: #006aff;
}

.color_skyblue {
    color: #00d5d1;
}

.ms_text-bolder {
    font-weight: bolder;
}

.ms_arrow_big {
    font-size: 45px;
}

/* HEADER */
/* nav */
nav{
    height: 80px;
    line-height: 80px;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 5px 2px rgba(29, 29, 29, 0.281);
}

nav img {
    max-width: 100%;
}

.ms_btn {
    color: #006aff;
    border: 1px solid #006aff;
    border-radius: 5px;
    padding: 8px 12px;
}
 nav ul {
    text-align: right;
    font-size: 17px;
 }

 nav ul li a {
    color: #031c4e;
 }

 nav ul li a i {
    vertical-align: middle;
 }

 nav ul li a:hover {
    text-decoration: none;
    color: #006aff;
 }

 nav ul li a.ms_btn:hover {
    background-color: rgb(231, 231, 231)
 }

.ms_hamburger {
    font-size: 25px;
}

.ms_pointer:hover {
    cursor: pointer;
}


/* jumbo */
.ms_bg_jumbo {
    background-image: url('../img/bg-home-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.jumbotron .row input {
    border: 1px solid #eeeeee;
}

.jumbotron .row input[placeholder] {
    font-size: 20px;
    padding: 20px 5px;
}

.ms_btn_jumbo {
    background-color: #579aff;
    width: 100%;
    color: white;
    padding: 7px 0;
}

.jumbotron .row a {
    color: #626262;
    width: 100%;
    font-weight: bolder;
}

.jumbotron .row img {
    width: 5%;
    vertical-align: middle;
}

.jumbotron .row small a {
    color: #006aff ;
    text-decoration: underline;
}

.jumbotron a.icon_google::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('https://www.shareicon.net/data/256x256/2016/11/22/854956_search_512x512.png');
    background-size: cover;
}

/* MAIN */
/* 1 Section */
#customers .row img {
    max-width: 100%;
    height: 60px;
}

.fas.fa-angle-right {
    vertical-align: middle;
}

/* 2 Section */
#deploy ul li {
    padding: 10px 0;
}

#deploy ul li a {
    text-decoration: none;
    color:#75809a;
    font-size: 20px;
    padding-left: 10px;
}

/* 3 Section */
#designed img {
    width: 100%;
}

#designed .row .row .ms_arrow_big i {
    padding: 340% 0;
}

/* 4 Section  */
#features img {
    height: 60px;
}

/* 5 Section */
.ms_bg_world {
    background: #031b4e url(https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 6 Section */
#teams .row img {
    width: 50%;
    text-align: center;
}

/* 7 Section */
.bg_blue {
    background-color: #002da7;
}

#teams .row .row .ms_arrow_big i.space{
    padding: 240% 0;
}

/* FOOTER */
footer {
    background-color: #031c4e;
}

footer .row a {
    color: #6f7b97;
}

footer .row ul.social li {
    padding-right: 10px;
}

footer .row ul.social li i {
    font-size: 20px;
}

footer .row ul.ms_link li {
    padding-bottom: 10px;
}

/* Help */

div.help{
    position: fixed;
    bottom: 0;
    right: 0;
}

div.help img {
   width: 80px;
}
div.help p {
    font-size: 15px;
    padding: 5px 10px;
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid black;
}

div.help .notify {
    position: absolute;
    top: 6%;
    right: 30%;
    color: white;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: red;
    border: 2px solid black;
}

div.help img:hover {
    cursor: pointer;
}

div.help .notify:hover {
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .jumbotron h1 {
      font-size:  45px;
  }
}
